<% layout('layouts/boilerplate') %> 


<!-- ======= F.A.Q Section ======= -->  
      <section id="faq" class="faq">

        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h2>F.A.Q</h2>
            <p>Frequently Asked Questions for Services</p>
          </header>
  
          <div class="row">
            <div class="col-lg-6">
              <!-- F.A.Q List 1-->
              <div class="accordion accordion-flush" id="faqlist1">

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                      How do our transcription services work?
                    </button>
                  </h2>
                  <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                    <div class="accordion-body">
                      Scriptoman lets you choose between automatically transcribing your files or using our professional transcription service. Once you submit your audio or video files, you can choose your preferred option. The automatic transcription service uses speech recognition software to convert audio to text and has an accuracy of up to 90% and will get your files transcribed in minutes. On the other hand, our professional transcription service put in your service a team of the best human transcriptionists.The human transcription service has an accuracy of 99% and your files will be delivered in less than 24 hours. If you need to quickly translate an interview recording or share the content of a meeting, using a transcription service is a good way to outsource the tedious process of converting audio recordings into readable text.Transcription services substitute dictation services by employing artificial intelligence for speech recognition. In addition to that, Scriptoman also offers editing services, making our platform one of the most complete and accurate transcription services.Don't take our word for it. More than 100 testimonials already rate Scriptoman as one of the best transcription services.
                    </div>
                  </div>
                </div>
  
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                      How long does it take to transcribe an hour of audio?
                    </button>
                  </h2>
                  <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                    <div class="accordion-body">
                      With our professional transcription service, the turnaround time for 1 hour audio files is 24 hours and you'll benefit from high quality transcripts, that are 99% accurate. Once the transcription is ready you will be able to access it through your user dashboard, having the possibility to share it with your teammates and even embed it to your website.On the other hand, if you choose automatic transcription, you will benefit from quick turnaround times. However, you might need to proofread the text files to make sure everything is alright.
                    </div>
                  </div>
                </div>
  
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                      Who will transcribe my video and audio files?
                    </button>
                  </h2>
                  <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                    <div class="accordion-body">
                      If you go for our automatic transcription offer, no one will access your files outside our algorithms and you. When choosing our professional transcription service, your files will be transcribed by professional transcribers to maximize the quality. Whatever is your selection, you can rest assured that both your audio and video content will remain confidential. 
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                      Who can use Scriptoman's transcription services?
                    </button>
                  </h2>
                  <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                    <div class="accordion-body">
                      From creators needing to transcribe their podcast to production companies seeking video transcription or reserchers looking for verbatim transcription, anyone can benefit from Scriptoman's transcription services. Our platform takes the transcription workflow of audio/video files to the next level, enabling users to save time and money, by leveraging the power of outsourced transcription.
                    </div>
                  </div>
                </div> 
  
              </div>
            </div>
  
            <div class="col-lg-6">
  
              <!-- F.A.Q List 2-->
              <div class="accordion accordion-flush" id="faqlist2">
  
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                      What happens if the audio quality is bad?
                    </button>
                  </h2>
                  <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                    <div class="accordion-body">
                      The quality of your files plays an important role on the quality of the final transcript. However, our automatic audio transcription software is powerful enough to extract the speech out of any background noise. In addition to that, our human transcribers are also skilled enough to sort out any difficulty related with audio/video quality.
                    </div>
                  </div>
                </div>
  
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                      Do you offer translation services?
                    </button>
                  </h2>
                  <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                    <div class="accordion-body">
                      Sometimes you might be in need of translating your text files, or even the subtitles you wanted to generate. We have got you covered. Even though we don't have a team of translators, we do offer an automatic translation software integrated in your user dashboard. Whenever you need to transcribe your transcripts, don't hesitate to use it. Your transcription will be translated to the language of your choice in a matter of minutes, and thanks to the timestamps you'll be able to use the translated text to create subtitles or captions.
                    </div>
                  </div>
                </div>
  
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                      Is automatic transcription better than human transcription?
                    </button>
                  </h2>
                  <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                    <div class="accordion-body">
                       Yes! Automatic transcription is best if you need your transcript to be done quickly and don't mind proofreading the output by yourself. Human transcription is better when you need more accurate transcripts and don't mind waiting a little longer until your text transcription is ready.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-4">
                      What makes Scriptoman different compared to other alternatives?
                    </button>
                  </h2>
                  <div id="faq2-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                    <div class="accordion-body">
                      Amongst the best transcription services there are other transcription companies, but what makes Scriptoman different?We provide a unique set of tools to ease up the transcription process. From a free transcription editor to a complete set of subtitling tools, we are the first transcription company to provide transcription and subtitles as a platform where you can edit, collaborate and share your transcripts. Our transcriber community has the best human transcribers in the world and our automatic transcription software is just the best. Our prices are affordable and inclusive, offering discounts to those businesses seeking to transcribe or subtitle large amounts of audio and to educational institutions or students around the world. Finally, Scriptoman has one of the best turnarounds in the industry. No matter the amount of files you need to have transcribed, you can rest assured you will receive completed transcripts within 24 hours after submission.
                    </div>
                  </div>
                </div>
                
  
              </div>
            </div>
  
          </div>
  
        </div>
  
      </section><!-- End F.A.Q Section -->
