<% layout('layouts/boilerplate') %> 
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Pricing</h2>
          <p>Check our Pricing</p>
        </header>

        <div class="row gy-4" data-aos="fade-left">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <span class="featured">Clear audio</span>
              <h3 style="color: #07d5c0;">Automatic Transcription</h3>
              <div class="price"><sup>$</sup>0.25<span> / min</span></div>
              <img src="assets/img/pricing-free.png" class="img-fluid" alt="">
              <ul>
                <li>No limit of any size and length</li>
                <li>All files are protected and remain private</li>
                <li>Multiple export formats</li>
                <li><strong>more 90% acurate</strong></li>
                
              </ul>
              <a href="#" class="btn-buy">Get Started</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <span class="featured">High acurate</span>
              <h3 style="color: #65c600;">Professional Transcription</h3>
              <div class="price"><sup>$</sup>1.70<span> / min</span></div>
              <img src="assets/img/pricing-starter.png" class="img-fluid" alt="">
              <ul>
                <li>Native transcribers</li>
                <li><strong>99% acurate</strong></li>
                <li>no spend time on editing</li>
                <li>lower quality files</li>
                <li>file with heavy accents</li>
              </ul>
              <a href="#" class="btn-buy">Get Started</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
              <span class="featured">limited budget</span>
              <h3 style="color: #ff901c;">Automatic Translation</h3>
              <div class="price"><sup>$</sup>4<span> / page</span></div>
              <img src="assets/img/pricing-business.png" class="img-fluid" alt="">
              <ul>
                <li>any type and file format</li>
                <li>more 90% acurate</li>
                <li>save a lot of time and money</li>
                <li>multingual translate</li>
                <li>consistency in wording and style</li>
              </ul>
              <a href="#" class="btn-buy">Get Started</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="box">
              <span class="featured">Highest quality</span>
              <h3 style="color: #ff0071;">Professional Translation</h3>
              <div class="price"><sup>$</sup>20<span> / page</span></div>
              <img src="assets/img/pricing-ultimate.png" class="img-fluid" alt="">
              <ul>
                <li>native translators</li>
                <li>99% acurate</li>
                <li> no spend time on editing</li>
                <li>interpret context and meaning</li>
                <li>interpret creativ use of language </li>
              </ul>
              <a href="#" class="btn-buy">Get Started</a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </header>

        <div class="row">
          <div class="col-lg-6">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    How can I get a quote or a purchase order?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    You just need to fill in the Contact page and we will send you a custom quote
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    What payment methods do you accept?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    For online checkout, we only accept credit cards. If you need to purchase a large volume, we also accept bank transfers. Contact our sales team for more details by filling in the form below.For orders more than 50 hours, discounts are made for any of the  services
                  </div>
                </div>
              </div>

               <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    Is my payment secured?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Yes. Your security and privacy is our utmost priority. We use secure, encrypted payment systems to ensure that you can focus on the important stuff, making transcripts and subtitles. 
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">

            <!-- F.A.Q List 2-->
            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                    Do you provide invoices?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Need an invoice for your finance department? We have you covered. Every time you make a purchase, we instantly send you an invoice. 
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    Do you do monthly pricing?
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    No. Our Pay As You Go pricing allows you to stay in control of what and when you pay by card.
                    For the services contracted through the Sales Service, the payment terms are also negotiated
                  </div>
                </div>
              </div>

               <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                    Do you do student pricing?
                  </button>
                </h2>
                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                     Yes! If you’re a student, you get 30% off with our automatic services, transcriptions and/or translations.
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section><!-- End F.A.Q Section -->
