<% layout('layouts/boilerplate') %> 
    <!-- ======= Transcription Section ======= -->
    
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <br>
          <h2>More about Transcription</h2>
          <p>Transcription Services</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src="assets/img/values-1.png" class="img-fluid" alt="">
              <h3>Dedicated Transcript Editor</h3>
              <p>Made for transcribers, our interactive editor will ease the way you interact with your transcripts.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/values-2.png" class="img-fluid" alt="">
              <h3>Sharing in a snap</h3>
              <p>Collaborate with all your stakeholders by sharing your transcripts in view-only or edit mode — no matter where they are in the world.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="assets/img/values-3.png" class="img-fluid" alt="">
              <h3>Multiple export formats</h3>
              <p>Export in all formats that you can think of. Our platform prepares you files that are ready for any kind of platform.</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    
 
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Features</h2>
          <p> A.I. together with the best professionals they get performance</p>
                                  
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="assets/img/features.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>No limits on uploads</h3>
                  <p>Upload files of any size and length. Our software supports them all.</p>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Multiple Export Formats </h3>
                  <p>We provide exports in TXT, DOCX, and more.</p>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Edit Starting Timecode</h3>
                  <p>By providing the starting timestamp, decide when the transcription starts.</p>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Workspaces for collaboration</h3>
                  <p>Create spaces for you to share your files with the rest of your team.</p>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Security & Confidentiality</h3>
                  <p>All files are protected and remain private.</p>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Acurate 99%</h3>
                  <p>A.I tehnology working side by side with the native professional transcriptionists</p>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- / row -->
        
    </section> <!-- End Features Section -->
